src/main/resources/schema/client/bottomline/WebSeriesXMLStandardFormat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- Complex Element Definitions -->
	<xs:element name="Advice">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FormType" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="InvoiceType" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PayeeBankInfo" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PayeeInformation" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="ReconStatus" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemittanceList" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranAmount" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="TranCurrency" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranDate" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="TranDescription" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranNumber" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranUniqueID" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedInformation" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ApplicationInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="APNFlag" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ApplicationID" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ApplicationName" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ArchivePDFFlag" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BatchSummaryReportFlag" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BrowserPrintFlag" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckPaperSource" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CopyPaperSource" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="DuplicateCheckEmail" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="DuplicateCheckEmailFlag" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ESendFlag" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ImageViewFlag" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="NeedsRepairEmail" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="NeedsRepairEmailFlag" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PaymentDesc" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PaymentType" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PrintApplication" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PrintCopiesFlag" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PrintEngine" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PrintMethod" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString4" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString5" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString6" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString7" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString8" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString9" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString10" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="OutputLanguage" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Batch">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BatchInformation" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="Transactions" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BatchInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ApplicationInfo" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BatchDescription" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BatchName" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BatchRemitType" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BatchSubTotal" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BatchTnum" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BatchUGSequence" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CompanyBankInfo" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CompanyEntity" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CompanyID" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CompanyName" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CreditDebit" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="EffectiveDate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ExternalCheckIssues" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PayeeLookupElements" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PayeeLookupType" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PrinterName" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ResponsibleParty" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedInformation" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="WebSeriesAction" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="WebSeriesAuditInfo" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="WebSeriesPrintKey" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="WebSeriesSignatures" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="WebSeriesStatus" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="WebSeriesUserGroup" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Check">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AmountText" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckNumber" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CustomerAccount" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CustomLoadData" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="DiscountAmount" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="DocumentID" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="DomesticAmount" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="DomesticCurrency" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="FedExemption" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="FormType" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="GrossAmount" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="InvoiceType" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="MaritalStatus" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PayeeBankInfo" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PayEndDate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PayStartDate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PayeeInformation" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="PrinterAlias" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ProfileInfo" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PropertyType" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ReconStatus" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemittanceList" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="SecondaryInfo" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="StateExemption" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranAmount" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="TranCurrency" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranDate" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="TranDateFormatted" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranDescription" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranNumber" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranUniqueID" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedInformation" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomLoadData" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="DocumentID" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="DocumentNumber" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="FormType" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PayeeInformation" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="PrinterAlias" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ProfileInfo" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemittanceList" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranAmount" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranCurrency" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranDate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranDateFormatted" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranDescription" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranNumber" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranUniqueID" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedInformation" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileDuplicateCheck">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UserDefinedAmount1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedAmount2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedAmount3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedDate1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedDate2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedDate3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString4" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedNumber1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedNumber2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedNumber3" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FedWire">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CorrBankInfo" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="EffectiveDate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PayeeBankInfo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="PayeeInformation" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="ReleaseDate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranAmount" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="TranCurrency" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranDate" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="TranDescription" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranNumber" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranUniqueID" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedInformation" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="File">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FileInformation" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="Batch" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FileCreateDate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="FileDescription" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="FileDuplicateCheck" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="FileSize" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="FileSource" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="FileSubTotal" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="FileTraceNumber" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="FileVersion" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NachaCCD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DiscretionaryData" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="NachaTranType" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="PayeeBankInfo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="PayeeInformation" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="ReleaseDate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranAmount" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="TranCurrency" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranDate" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="TranDescription" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranNumber" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranUniqueID" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedInformation" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NachaCTX">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DiscretionaryData" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="NachaTranType" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="PayeeBankInfo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="PayeeInformation" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="ReleaseDate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranAmount" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="TranCurrency" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranDate" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="TranDescription" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element ref="TranNumber" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranUniqueID" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedInformation" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NachaPPD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DiscretionaryData" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="NachaTranType" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="PayeeBankInfo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="PayeeInformation" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="ReleaseDate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranAmount" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="TranCurrency" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranDate" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="TranDescription" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranNumber" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranUniqueID" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedInformation" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProfileInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ABA" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="AccountName" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="AccountNumber" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="APNRangeCode" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BankAddress1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BankAddress2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BankAddress3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BankAddress4" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BankCode" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BankLogoMacro" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BankLogoXAdjust" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BankLogoYAdjust" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BankName" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BankRoutingFraction1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BankRoutingFraction2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckMgtFlag" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra4" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra5" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra6" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra7" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra8" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra9" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra10" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra11" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra12" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra13" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra14" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra15" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra16" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra17" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra18" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra19" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra20" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra21" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra22" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra23" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra24" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra25" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra26" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra27" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra28" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra29" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CheckProfileExtra30" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CompanyAddress1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CompanyAddress2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CompanyAddress3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CompanyAddress4" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CompanyAddress5" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CompanyCode" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CompanyLogoMacro" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CompanyLogoXAdjust" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CompanyLogoYAdjust" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CompanyName" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CurrencyCode" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="DisplayAccountNum" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ExtraOnus" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PositivePayFlag" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Signature1Macro" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Signature1XAdjust" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Signature1YAdjust" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Signature2Macro" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Signature2Threshold" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Signature2XAdjust" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Signature2YAdjust" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="WebSeriesCheckProfile" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProprietaryTran">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CorrBankInfo" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="DomesticAmount" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="DomesticCurrency" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="EffectiveDate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ExchangeRate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="FormType" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="InvoiceType" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PayeeBankInfo" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PayeeInformation" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="PropTranFormat" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PropTranType" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="ReleaseDate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemittanceList" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranAmount" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="TranCurrency" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranDate" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="TranDescription" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranNumber" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranUniqueID" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedInformation" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Remittance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RemitAmount1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitAmount2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitAmount3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitAmount4" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitAmount5" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitDate1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitDate2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitDate3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitDate4" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitDate5" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitNumber1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitNumber2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitNumber3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitNumber4" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitNumber5" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitSortOrder" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitDecimal1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitDecimal2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitDecimal3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitDecimal4" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitDecimal5" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitText1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitText2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitText3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitText4" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitText5" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitText6" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitText7" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitText8" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitText9" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitText10" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RemitWholeRecord" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RemittanceList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Remittance" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StatusRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RequestID" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StatusResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AdditionalInformation" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ReconStatus" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ResponseID" minOccurs="1" maxOccurs="2"/>
				<xs:element ref="WebSeriesStatus" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Swift">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CorrBankInfo" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="EffectiveDate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PayeeBankInfo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="PayeeInformation" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="ReleaseDate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranAmount" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="TranCurrency" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="TranDate" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="TranDescription" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranNumber" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TranUniqueID" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedInformation" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Transactions">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Advice" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element ref="Check" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element ref="Document" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element ref="FedWire" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element ref="NachaCCD" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element ref="NachaCTX" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element ref="NachaPPD" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element ref="ProprietaryTran" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element ref="StatusRequest" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element ref="StatusResponse" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element ref="Swift" minOccurs="1" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="UserDefinedInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UserDefinedAmount1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedAmount2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedAmount3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedAmount4" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedAmount5" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedDate1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedDate2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedDate3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedDate4" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedDate5" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedDate6" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedDate7" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedDate8" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedDate9" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedDate10" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString4" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString5" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString6" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString7" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString8" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString9" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedLongString10" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedNumber1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedNumber2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedNumber3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedNumber4" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedNumber5" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedShortString1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedShortString2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedShortString3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedShortString4" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedShortString5" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedShortString6" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedShortString7" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedShortString8" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedShortString9" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UserDefinedShortString10" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WebSeriesAuditInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AmountCredit" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="AmountDebit" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="AmountNonCheck" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="AmountVariance" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CountCredit" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CountDebit" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CountErrors" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CountExpired" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CountHold" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CountNeedsRepair" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CountNonCheck" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CountPreStart" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CountTotal" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CountZeroDollar" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CountZeroDollarLive" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="EnteredBy" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="EntryMethod" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="EntryType" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ImportedBy" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ImportID" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="JobID" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="PrintedBy" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ProcessingDate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ReceivingApplication" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RequestingApplication" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TNum" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="Type" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Simple Element Definitions-->
	<xs:element name="ABA" type="Alpha10StringNullable"/>
	<xs:element name="AccountName" type="Alpha50String"/>
	<xs:element name="AccountNumber" type="Alpha50StringNullable"/>
	<xs:element name="ActionDate" type="Date"/>
	<xs:element name="ActionTime" type="Time"/>
	<xs:element name="AdditionalInformation" type="Alpha80String"/>
	<xs:element name="AddressLine1" type="Alpha50StringNullable"/>
	<xs:element name="AddressLine2" type="Alpha50StringNullable"/>
	<xs:element name="AddressLine3" type="Alpha50StringNullable"/>
	<xs:element name="AddressLine4" type="Alpha50StringNullable"/>
	<xs:element name="AddressLine5" type="Alpha50StringNullable"/>
	<xs:element name="AddressLine6" type="Alpha50StringNullable"/>
	<xs:element name="AmountCredit" type="Amount"/>
	<xs:element name="AmountDebit" type="Amount"/>
	<xs:element name="AmountNonCheck" type="Amount"/>
	<xs:element name="AmountText" type="Alpha500StringNullable"/>
	<xs:element name="AmountVariance" type="Amount"/>
	<xs:element name="APNRangeCode" type="Alpha50String"/>
	<xs:element name="APNFlag" type="Boolean"/>
	<xs:element name="ApplicationID" type="Alpha50String"/>
	<xs:element name="ApplicationName" type="Alpha50String"/>
	<xs:element name="ArchivePDFFlag" type="Boolean"/>
	<xs:element name="BankAccount" type="BankAccountDetail"/>
	<xs:element name="BankAccountType" type="Alpha10String"/>
	<xs:element name="BankAccountQual" type="Alpha10String"/>
	<xs:element name="BankAddress" type="AddressDetail"/>
	<xs:element name="BankAddress1" type="Alpha50StringNullable"/>
	<xs:element name="BankAddress2" type="Alpha50StringNullable"/>
	<xs:element name="BankAddress3" type="Alpha50StringNullable"/>
	<xs:element name="BankAddress4" type="Alpha50StringNullable"/>
	<xs:element name="BankAddress5" type="Alpha50StringNullable"/>
	<xs:element name="BankCode" type="Alpha50StringNullable"/>
	<xs:element name="BankID" type="Alpha10StringNullable"/>
	<xs:element name="BankLogoMacro" type="Alpha50StringNullable"/>
	<xs:element name="BankLogoXAdjust" type="Alpha50StringNullable"/>
	<xs:element name="BankLogoYAdjust" type="Alpha50StringNullable"/>
	<xs:element name="BankName" type="Alpha50StringNullable"/>
	<xs:element name="BankRouting" type="BankRoutingDetail"/>
	<xs:element name="BankRoutingFraction1" type="Alpha50StringNullable"/>
	<xs:element name="BankRoutingFraction2" type="Alpha50StringNullable"/>
	<xs:element name="BankRoutingQual" type="Alpha10StringNullable"/>
	<xs:element name="BatchDescription" type="Alpha255StringNullable"/>
	<xs:element name="BatchName" type="Alpha50StringNullable"/>
	<xs:element name="BatchRemitType" type="Alpha20StringNullable"/>
	<xs:element name="BatchSubTotal" type="SubTotalDetail"/>
	<xs:element name="BatchSummaryReportFlag" type="Boolean"/>
	<xs:element name="BatchTnum" type="Alpha50StringNullable"/>
	<xs:element name="BatchUGSequence" type="Alpha50StringNullable"/>
	<xs:element name="BIC" type="Alpha50StringNullable"/>
	<xs:element name="BranchID" type="Alpha10StringNullable"/>
	<xs:element name="BranchName" type="Alpha50StringNullable"/>
	<xs:element name="BrowserPrintFlag" type="Boolean"/>
	<xs:element name="City" type="Alpha50StringNullable"/>
	<xs:element name="CheckNumber" type="Alpha50StringNullable"/>
	<xs:element name="CheckMgtFlag" type="Boolean"/>
	<xs:element name="CheckPaperSource" type="Alpha500StringNullable"/>
	<xs:element name="CheckProfileExtra1" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra2" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra3" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra4" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra5" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra6" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra7" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra8" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra9" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra10" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra11" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra12" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra13" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra14" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra15" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra16" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra17" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra18" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra19" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra20" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra21" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra22" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra23" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra24" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra25" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra26" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra27" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra28" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra29" type="Alpha50StringNullable"/>
	<xs:element name="CheckProfileExtra30" type="Alpha50StringNullable"/>
	<xs:element name="CompanyAddress1" type="Alpha50StringNullable"/>
	<xs:element name="CompanyAddress2" type="Alpha50StringNullable"/>
	<xs:element name="CompanyAddress3" type="Alpha50StringNullable"/>
	<xs:element name="CompanyAddress4" type="Alpha50StringNullable"/>
	<xs:element name="CompanyAddress5" type="Alpha50StringNullable"/>
	<xs:element name="CompanyBankInfo" type="BankInfoDetail"/>
	<xs:element name="CompanyCode" type="Alpha50StringNullable"/>
	<xs:element name="CompanyLogoMacro" type="Alpha50StringNullable"/>
	<xs:element name="CompanyLogoXAdjust" type="Alpha50StringNullable"/>
	<xs:element name="CompanyLogoYAdjust" type="Alpha50StringNullable"/>
	<xs:element name="CompanyEntity" type="Alpha10StringNullable"/>
	<xs:element name="CompanyID" type="Alpha10StringNullable"/>
	<xs:element name="CompanyName" type="Alpha50StringNullable"/>
	<xs:element name="CopyPaperSource" type="Alpha500StringNullable"/>
	<xs:element name="CorrBankInfo" type="BankInfoDetail"/>
	<xs:element name="CountCredit" type="Integer"/>
	<xs:element name="CountDebit" type="Integer"/>
	<xs:element name="CountErrors" type="Integer"/>
	<xs:element name="CountExpired" type="Integer"/>
	<xs:element name="CountHold" type="Integer"/>
	<xs:element name="CountNeedsRepair" type="Integer"/>
	<xs:element name="CountNonCheck" type="Integer"/>
	<xs:element name="CountPreStart" type="Integer"/>
	<xs:element name="Country" type="Alpha50StringNullable"/>
	<xs:element name="CountryQual" type="Alpha10StringNullable"/>
	<xs:element name="CountTotal" type="Integer"/>
	<xs:element name="CountZeroDollar" type="Integer"/>
	<xs:element name="CountZeroDollarLive" type="Integer"/>
	<xs:element name="CreditDebit" type="CreditDebitTypeCode"/>
	<xs:element name="CurrencyCode" type="Alpha50StringNullable"/>
	<xs:element name="CustomerAccount" type="CustomerAcctDetail"/>
	<xs:element name="CustomLoadData" type="CustomLoadDataDetail"/>
	<xs:element name="CustomerIDType1" type="Alpha50StringNullable"/>
	<xs:element name="CustomerIDType2" type="Alpha50StringNullable"/>
	<xs:element name="CustomerIDValue1" type="Alpha50StringNullable"/>
	<xs:element name="CustomerIDValue2" type="Alpha50StringNullable"/>
	<xs:element name="DiscountAmount" type="Amount"/>
	<xs:element name="DiscretionaryData" type="Alpha02String"/>
	<xs:element name="DisplayAccountNum" type="Alpha50StringNullable"/>
	<xs:element name="DocumentID" type="Alpha50StringNullable"/>
	<xs:element name="DocumentNumber" type="Alpha50StringNullable"/>
	<xs:element name="DomesticAmount" type="Amount"/>
	<xs:element name="DomesticCurrency" type="CurrencyCode"/>
	<xs:element name="DuplicateCheckEmail" type="Alpha500StringNullable"/>
	<xs:element name="DuplicateCheckEmailFlag" type="Boolean"/>
	<xs:element name="EffectiveDate" type="Date"/>
	<xs:element name="EnteredBy" type="WebSeriesActionDetail"/>
	<xs:element name="EntryMethod" type="Integer"/>
	<xs:element name="EntryType" type="Alpha20StringNullable"/>
	<xs:element name="ESendFlag" type="Boolean"/>
	<xs:element name="ExchangeRate" type="Amount"/>
	<xs:element name="ExternalCheckIssues" type="ConditionalFlag"/>
	<xs:element name="ExtraOnus" type="Alpha50StringNullable"/>
	<xs:element name="FedExemption" type="Integer"/>
	<xs:element name="FileCreateDate" type="Date"/>
	<xs:element name="FileDescription" type="Alpha80StringNullable"/>
	<xs:element name="FileSize" type="Alpha20StringNullable"/>
	<xs:element name="FileSource" type="Alpha50StringNullable"/>
	<xs:element name="FileSubTotal" type="SubTotalDetail"/>
	<xs:element name="FileTraceNumber" type="Alpha20StringNullable"/>
	<xs:element name="FileVersion" type="FileVersionCode"/>
	<xs:element name="FormType" type="Alpha20StringNullable"/>
	<xs:element name="GrossAmount" type="Amount"/>
	<xs:element name="IBAN" type="Alpha50StringNullable"/>
	<xs:element name="ImageViewFlag" type="Boolean"/>
	<xs:element name="ImportedBy" type="WebSeriesActionDetail"/>
	<xs:element name="ImportID" type="Alpha50StringNullable"/>
	<xs:element name="IndexName" type="Alpha50StringNullable"/>
	<xs:element name="InvoiceType" type="InvoiceTypeCode"/>
	<xs:element name="JobID" type="Integer"/>
	<xs:element name="MaritalStatus" type="Alpha1StringNullable"/>
	<xs:element name="NachaTranType" type="NachaTranTypeCode"/>
	<xs:element name="NeedsRepairEmail" type="Alpha500StringNullable"/>
	<xs:element name="NeedsRepairEmailFlag" type="Boolean"/>
	<xs:element name="OutputLanguage" type="Alpha50StringNullable"/>
	<xs:element name="PayEndDate" type="Date"/>
	<xs:element name="PayStartDate" type="Date"/>
	<xs:element name="PayeeAddress" type="AddressDetail"/>
	<xs:element name="PayeeBankInfo" type="BankInfoDetail"/>
	<xs:element name="PayeeDOB" type="Date"/>
	<xs:element name="PayeeEmail" type="Alpha255StringNullable"/>
	<xs:element name="PayeeEntity" type="Alpha50StringNullable"/>
	<xs:element name="PayeeID" type="Alpha15StringNullable"/>
	<xs:element name="PayeeInformation" type="PayeeInfoDetail"/>
	<xs:element name="PayeeLookupElements" type="Alpha500StringNullable"/>
	<xs:element name="PayeeLookupType" type="Alpha10StringNullable"/>
	<xs:element name="PayeeName1" type="Alpha50StringNullable"/>
	<xs:element name="PayeeName2" type="Alpha50StringNullable"/>
	<xs:element name="PayeeName3" type="Alpha50StringNullable"/>
	<xs:element name="PayeeSSN" type="Alpha20StringNullable"/>
	<xs:element name="PaymentDesc" type="Alpha50StringNullable"/>
	<xs:element name="PaymentType" type="Alpha20StringNullable"/>
	<xs:element name="PhoneNumber" type="Alpha20StringNullable"/>
	<xs:element name="PositivePayFlag" type="Boolean"/>
	<xs:element name="PostalCode" type="Alpha20StringNullable"/>
	<xs:element name="PrintApplication" type="Alpha80StringNullable"/>
	<xs:element name="PrintCopiesFlag" type="Boolean"/>
	<xs:element name="PrintedBy" type="WebSeriesActionDetail"/>
	<xs:element name="PrintEngine" type="Alpha20StringNullable"/>
	<xs:element name="PrintMethod" type="Alpha20StringNullable"/>
	<xs:element name="PrinterAlias" type="Alpha255StringNullable"/>
	<xs:element name="PrinterName" type="Alpha500StringNullable"/>
	<xs:element name="ProcessingDate" type="Date"/>
	<xs:element name="PropertyType" type="Alpha20StringNullable"/>
	<xs:element name="ProprietaryBankRouting" type="Alpha50StringNullable"/>
	<xs:element name="ProprietaryUniqueID" type="Alpha50StringNullable"/>
	<xs:element name="PropTranFormat" type="Alpha10StringNullable"/>
	<xs:element name="PropTranType" type="Alpha10StringNullable"/>
	<xs:element name="PurchaseAmount" type="Amount"/>
	<xs:element name="PurchaseDate" type="Date"/>
	<xs:element name="ReceivingApplication" type="Alpha20StringNullable"/>
	<xs:element name="ReconStatus" type="CheckStatusCode"/>
	<xs:element name="ReleaseDate" type="Date"/>
	<xs:element name="ResponseID" type="UniqueIDDetail"/>
	<xs:element name="ResponsibleParty" type="Alpha10StringNullable"/>
	<xs:element name="RequestID" type="UniqueIDDetail"/>
	<xs:element name="RequestingApplication" type="Alpha20StringNullable"/>
	<xs:element name="RemitText1" type="Alpha50StringNullable"/>
	<xs:element name="RemitText2" type="Alpha50StringNullable"/>
	<xs:element name="RemitText3" type="Alpha50StringNullable"/>
	<xs:element name="RemitText4" type="Alpha50StringNullable"/>
	<xs:element name="RemitText5" type="Alpha50StringNullable"/>
	<xs:element name="RemitText6" type="Alpha500StringNullable"/>
	<xs:element name="RemitText7" type="Alpha500StringNullable"/>
	<xs:element name="RemitText8" type="Alpha500StringNullable"/>
	<xs:element name="RemitText9" type="Alpha500StringNullable"/>
	<xs:element name="RemitText10" type="Alpha500StringNullable"/>
	<xs:element name="RemitDate1" type="Date"/>
	<xs:element name="RemitDate2" type="Date"/>
	<xs:element name="RemitDate3" type="Date"/>
	<xs:element name="RemitDate4" type="Date"/>
	<xs:element name="RemitDate5" type="Date"/>
	<xs:element name="RemitAmount1" type="Amount"/>
	<xs:element name="RemitAmount2" type="Amount"/>
	<xs:element name="RemitAmount3" type="Amount"/>
	<xs:element name="RemitAmount4" type="Amount"/>
	<xs:element name="RemitAmount5" type="Amount"/>
	<xs:element name="RemitNumber1" type="Integer"/>
	<xs:element name="RemitNumber2" type="Integer"/>
	<xs:element name="RemitNumber3" type="Integer"/>
	<xs:element name="RemitNumber4" type="Integer"/>
	<xs:element name="RemitNumber5" type="Integer"/>
	<xs:element name="RemitSortOrder" type="Integer"/>
	<xs:element name="RemitDecimal1" type="Amount"/>
	<xs:element name="RemitDecimal2" type="Amount"/>
	<xs:element name="RemitDecimal3" type="Amount"/>
	<xs:element name="RemitDecimal4" type="Amount"/>
	<xs:element name="RemitDecimal5" type="Amount"/>
	<xs:element name="RemitWholeRecord" type="Alpha4000StringNullable"/>
	<xs:element name="SecondaryInfo" type="PayeeInfoDetail"/>
	<xs:element name="Signature1Macro" type="Alpha50StringNullable"/>
	<xs:element name="Signature1XAdjust" type="Alpha50StringNullable"/>
	<xs:element name="Signature1YAdjust" type="Alpha50StringNullable"/>
	<xs:element name="Signature2Macro" type="Alpha50StringNullable"/>
	<xs:element name="Signature2Threshold" type="Alpha50StringNullable"/>
	<xs:element name="Signature2XAdjust" type="Alpha50StringNullable"/>
	<xs:element name="Signature2YAdjust" type="Alpha50StringNullable"/>
	<xs:element name="StateExemption" type="Integer"/>
	<xs:element name="State" type="Alpha50StringNullable"/>
	<xs:element name="TNum" type="Integer"/>
	<xs:element name="TotalCurrency" type="CurrencyCode"/>
	<xs:element name="TotalItemAmount" type="Amount"/>
	<xs:element name="TotalItemCount" type="Integer"/>
	<xs:element name="TranAmount" type="Amount"/>
	<xs:element name="TranCurrency" type="CurrencyCode"/>
	<xs:element name="TranDate" type="Date"/>
	<xs:element name="TranDateFormatted" type="Alpha50StringNullable"/>
	<xs:element name="TranDescription" type="Alpha255StringNullable"/>
	<xs:element name="TranNumber" type="Alpha10StringNullable"/>
	<xs:element name="TranUniqueID" type="UniqueIDDetail"/>
	<xs:element name="Type" type="Alpha10StringNullable"/>
	<xs:element name="UserDefinedAmount1" type="Amount"/>
	<xs:element name="UserDefinedAmount2" type="Amount"/>
	<xs:element name="UserDefinedAmount3" type="Amount"/>
	<xs:element name="UserDefinedAmount4" type="Amount"/>
	<xs:element name="UserDefinedAmount5" type="Amount"/>
	<xs:element name="UserDefinedDate1" type="Date"/>
	<xs:element name="UserDefinedDate2" type="Date"/>
	<xs:element name="UserDefinedDate3" type="Date"/>
	<xs:element name="UserDefinedDate4" type="Date"/>
	<xs:element name="UserDefinedDate5" type="Date"/>
	<xs:element name="UserDefinedDate6" type="Date"/>
	<xs:element name="UserDefinedDate7" type="Date"/>
	<xs:element name="UserDefinedDate8" type="Date"/>
	<xs:element name="UserDefinedDate9" type="Date"/>
	<xs:element name="UserDefinedDate10" type="Date"/>
	<xs:element name="UserDefinedLongString1" type="Alpha35StringNullable"/>
	<xs:element name="UserDefinedLongString2" type="Alpha35StringNullable"/>
	<xs:element name="UserDefinedLongString3" type="Alpha35StringNullable"/>
	<xs:element name="UserDefinedLongString4" type="Alpha35StringNullable"/>
	<xs:element name="UserDefinedLongString5" type="Alpha35StringNullable"/>
	<xs:element name="UserDefinedLongString6" type="Alpha35StringNullable"/>
	<xs:element name="UserDefinedLongString7" type="Alpha35StringNullable"/>
	<xs:element name="UserDefinedLongString8" type="Alpha35StringNullable"/>
	<xs:element name="UserDefinedLongString9" type="Alpha35StringNullable"/>
	<xs:element name="UserDefinedLongString10" type="Alpha35StringNullable"/>
	<xs:element name="UserDefinedNumber1" type="Integer"/>
	<xs:element name="UserDefinedNumber2" type="Integer"/>
	<xs:element name="UserDefinedNumber3" type="Integer"/>
	<xs:element name="UserDefinedNumber4" type="Integer"/>
	<xs:element name="UserDefinedNumber5" type="Integer"/>
	<xs:element name="UserDefinedShortString1" type="Alpha16StringNullable"/>
	<xs:element name="UserDefinedShortString2" type="Alpha16StringNullable"/>
	<xs:element name="UserDefinedShortString3" type="Alpha16StringNullable"/>
	<xs:element name="UserDefinedShortString4" type="Alpha16StringNullable"/>
	<xs:element name="UserDefinedShortString5" type="Alpha16StringNullable"/>
	<xs:element name="UserDefinedShortString6" type="Alpha16StringNullable"/>
	<xs:element name="UserDefinedShortString7" type="Alpha16StringNullable"/>
	<xs:element name="UserDefinedShortString8" type="Alpha16StringNullable"/>
	<xs:element name="UserDefinedShortString9" type="Alpha16StringNullable"/>
	<xs:element name="UserDefinedShortString10" type="Alpha16StringNullable"/>
	<xs:element name="UserID" type="Alpha10StringNullable"/>
	<xs:element name="UserGroup" type="Alpha10StringNullable"/>
	<xs:element name="UserName" type="Alpha50StringNullable"/>
	<xs:element name="WebSeriesAction" type="ActionCode"/>
	<xs:element name="WebSeriesCheckProfile" type="Alpha35StringNullable"/>
	<xs:element name="WebSeriesPrintKey" type="Alpha10StringNullable"/>
	<xs:element name="WebSeriesSignatures" type="Integer"/>
	<xs:element name="WebSeriesStatus" type="TranStatusCode"/>
	<xs:element name="WebSeriesTNum" type="Integer"/>
	<xs:element name="WebSeriesUserGroup" type="Alpha10StringNullable"/>
	<!-- Complex Type Definitions -->
	<xs:complexType name="AddressDetail">
		<xs:sequence>
			<xs:element ref="AddressLine1" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="AddressLine2" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="AddressLine3" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="AddressLine4" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="AddressLine5" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="AddressLine6" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="City" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Country" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="CountryQual" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="PostalCode" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="State" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankAccountDetail">
		<xs:choice>
			<xs:element ref="AccountNumber" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="IBAN" minOccurs="1" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="BankInfoDetail">
		<xs:sequence>
			<xs:element ref="BankAddress" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="BankAccount" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="BankAccountQual" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="BankAccountType" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="BankID" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="BankName" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="BankRouting" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="BankRoutingQual" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="BranchID" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="BranchName" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankRoutingDetail">
		<xs:choice>
			<xs:element ref="ABA" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="BIC" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="ProprietaryBankRouting" minOccurs="1" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CustomerAcctDetail">
		<xs:sequence>
			<xs:element ref="ABA" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="AccountName" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="AccountNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="CustomerIDType1" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="CustomerIDType2" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="CustomerIDValue1" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="CustomerIDValue2" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="PurchaseAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="PurchaseDate" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomLoadDataDetail">
		<xs:sequence maxOccurs="unbounded">
			<xs:any processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayeeInfoDetail">
		<xs:sequence>
			<xs:element ref="PayeeAddress" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="PayeeDOB" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="PayeeEmail" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="PayeeEntity" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="PayeeID" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="PayeeLookupElements" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="PayeeLookupType" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="PayeeName1" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="PayeeName2" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="PayeeName3" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="PhoneNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="PayeeSSN" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubTotalDetail">
		<xs:sequence>
			<xs:element ref="TotalCurrency" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="TotalItemAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="TotalItemCount" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UniqueIDDetail">
		<xs:choice>
			<xs:element ref="ProprietaryUniqueID" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="WebSeriesTNum" minOccurs="1" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="WebSeriesActionDetail">
		<xs:choice>
			<xs:element ref="ActionDate" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="ActionTime" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="UserGroup" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="UserID" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="UserName" minOccurs="0" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<!-- Simple Type Definitions -->
	<xs:simpleType name="ActionCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="Insert"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Amount">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="Alpha1StringNullable">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha02String">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha4StringNullable">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha10String">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha10StringNullable">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha15StringNullable">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha20String">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha20StringNullable">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha50String">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha35String">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha35StringNullable">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha16StringNullable">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha50StringNullable">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha80String">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha80StringNullable">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha255String">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha255StringNullable">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha500String">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha500StringNullable">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha4000String">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha4000StringNullable">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Boolean">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="CheckStatusCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="OPEN|PAID|STOP|VOID"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConditionalFlag">
		<xs:restriction base="xs:string">
			<xs:pattern value="0|1|Y|N|y|n"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditDebitTypeCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="Credit|Debit"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Date">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="FileVersionCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="XMLv1.1 CSv6.7.2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Integer">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="InvoicePRTypeCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="Deduction|Earning|Tax"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InvoiceTypeCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="AcctPay|Generic|Payroll"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NachaTranTypeCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Time">
		<xs:restriction base="xs:time"/>
	</xs:simpleType>
	<xs:simpleType name="TranStatusCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="AP|BC|BR|DL|EN|NR|RJ|RL|RP"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
